DATABASE_URL="file:./dev.db"
JWT_SECRET="replace-with-a-256-bit-random-secret"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET="replace-with-another-256-bit-secret"
REFRESH_TOKEN_EXPIRES_IN="7d"
PORT=4000
CLIENT_URL="http://localhost:5173"
NODE_ENV="development"
